PORT=3003
NODE_ENV=development
DATABASE_URL=postgresql://registration_user:registration_password@localhost:5432/registrations_db
EVENTS_SERVICE_URL=http://localhost:3001
PARTICIPANTS_SERVICE_URL=http://localhost:3002
