# Copie ce fichier en ".env" et adapte les ports une fois que
# Lory / Houleymatou t'auront donné les vraies adresses des services.
VITE_EVENTS_API_URL=http://localhost:3001
VITE_PARTICIPANTS_API_URL=http://localhost:3002
VITE_REGISTRATIONS_API_URL=http://localhost:3003
